
<div class="content">
  <div class="app-container">
  <mat-toolbar color="primary" class="app-toolbar">
    <span class="app-title">{{title}}</span>
    <span class="toolbar-spacer"></span>
    <nav class="nav-items">
      <a mat-button *ngFor="let item of navItems" [routerLink]="item.path" routerLinkActive="active">
        <!-- <mat-icon>{{item.icon}}</mat-icon> -->
        <span>{{item.label}}</span>
      </a>
    </nav>
  </mat-toolbar>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
</div>